/*
To-do:
    - Button styles
    - Border styles
*/

/* 
===================================
Universal Styles
===================================
*/

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body {
    height: 100%;
}

/* 
===================================
Container
===================================
*/

.container {
    min-height: 100%;
    padding: 40px 0;
}

/* 
===================================
Background Image
===================================
*/

body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/98/Andromeda_Galaxy_%28with_h-alpha%29.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #cccccc;
}

/* 
===================================
Fonts
===================================
*/

body {
    color: white;
    font-family: 'B612 Mono', sans-serif;
}

h1 {
    font-family: 'Notable', sans-serif;
    font-size: 50px;
}

h2,
p,
span {
    font-size: 30px;
}

h2 {
    text-transform: uppercase;
}

span {
    /* font-size: 24px; */
}

p {

}

#losses {
    color: #CE0C2C;
}

#wins {
    color: #17AF0A;
}

/* 
===================================
Button
===================================
*/

#win-button,
#loss-button {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 200px;
    margin-top: -100px; /* Negative half of height. */
    margin-left: -200px; /* Negative half of width. */
}