/* 
===================================
Universal Styles
===================================
*/

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body {
    height: 100%;
}

h1,
h2,
p {
    padding: 10px;
}

 /* 
===================================
Background Colors for formatting
===================================
*/

h1 {
    background-color: blue;
}

h2 {
    background-color: red;
}

p {
    background-color: yellow;
}

span {
    background-color: orange;
    /* padding: 10px; */
    font-size: 24px;
}

 /* 
===================================
Containers
===================================
*/

.container {
    max-width: 66.6%;
    margin: auto;
}

.guesses-container {
    /* display: inline-block; */
    margin: auto;
}

.left-col,
.right-col {
    /* max-width: 50%; */
    display: inline-block;
}