/* 
===================================
Universal Styles
===================================
*/

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body {
    height: 100%;
}

/* 
===================================
Background Colors for formatting
===================================
*/

h1,
.blue {
    /* background-color: blue; */
}

h2 {
    /* background-color: red; */
}

p,
.yellow {
    /* background-color: yellow; */
}

span {
    /* background-color: orange; */
}

/* 
===================================
Container
===================================
*/

.container {
    /* background-color: purple; */
    min-height: 100%;
    padding: 40px 0;
}

/* 
===================================
Background Image
===================================
*/

body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/98/Andromeda_Galaxy_%28with_h-alpha%29.jpg");
    /* background-image: url("assets/images/x-wing.png"); */
    background-repeat: no-repeat;
    background-position: center;
    background-color: #cccccc;
}

/* 
===================================
Fonts
===================================
*/

body {
    color: white;
    font-family: 'B612 Mono', sans-serif;
}

h1 {
    font-family: 'Notable', sans-serif;
    /* color: white; */
    font-size: 50px;
}

h2,
p,
span {
    font-size: 40px;
}

span {
    /* font-size: 24px; */
}